<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <title>QR Code Generator</title>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 align-self-center" style="margin-top: 13%;">
          <h1 class="text-center text-light">Convert your text to QR code</h1>
          <form>
            <div class="form-group">
              <label for="input_text"></label>
              <input
                type="text"
                class="form-control form-control-lg  "
                id="input_text"
                placeholder="Enter Your Text Here"
              />
            </div>

            <button type="button" id="gen" class="btn btn-primary btn-block">
              Generate QR Code
            </button>
          </form>
        </div>
      </div>

      <div class="row justify-content-center">
        <div
          class="col-md-6 align-self-center"
          style="margin-top: 20px;margin-bottom:5px;margin-left: 30%;"
        >
          <img
            src=""
            id="qr-code-img"
            class="img-responsive text-center d-none"
            alt="Image"
          />
        </div>
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script>
      document.querySelector("#gen").addEventListener("click", function() {
        // Get the text from input
        let txt = document.querySelector("#input_text").value;

        // Do not send request if field is empty
        if (txt !== "") {
          var xhttp = new XMLHttpRequest();
          xhttp.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
              console.log(this.responseText.qr_img);
              let res = JSON.parse(this.responseText);
              let img = document.querySelector("#qr-code-img");
              // Set img source
              img.src = res.qr_img;
              // Show the image
              img.classList.remove("d-none");
            }
          };
          xhttp.open("POST", "/qrcode", true);
          xhttp.setRequestHeader(
            "Content-type",
            "application/x-www-form-urlencoded"
          );
          xhttp.send("qr_text=" + txt);
        }
      });
    </script>
  </body>
</html>
